<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <!-- Kafka Appender -->
<!--        <Kafka name="KafkaAppender" topic="cars">-->
<!--            <Property name="bootstrap.servers">localhost:9092</Property>-->
<!--            <Property name="acks">1</Property>-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>-->
<!--            </PatternLayout>-->
<!--        </Kafka>-->
    </Appenders>

    <Loggers>
        <Logger name="org.apache.kafka" level="info" additivity="false">
            <AppenderRef ref="KafkaSystem"/>
        </Logger>

<!--        <Logger name="org.apache.kafka" level="info" additivity="false"/>-->
        <Logger name="org.apache.zookeeper" level="error" additivity="false"/>

<!--         Logger Utama -->
        <Root level="info">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="RollingFile"/>-->
<!--            <AppenderRef ref="KafkaAppender"/>-->
        </Root>
    </Loggers>
</Configuration>
